@import '../../style/vars';

.culture {
  border-top: 10px ridge $culture-border;
  border-bottom: 10px solid black;
  background: repeating-linear-gradient(
    45deg,
    $culture-background,
    $culture-background 2px,
    $background-color 2px,
    $background-color 4px
  );

  h5 {
    margin-left: 5px;
  }

  .ranks {
    background-color: $culture-border;
    border-top: 2px solid $header-background;
    margin: 0;

    li {
      margin-left: 10px;
      padding: 2px;
      span {
        font-style: italic;
      }
    }
  }
}