.rankings {
  li {
    background: linear-gradient(rgba(254, 61, 61, 0.2), rgba(102, 7, 7, 1));
    padding-right: 4%;
  }

  li:hover {
    background-color: rgb(254, 61, 61);
    transform: scale(1.01);
  }
}
