.gdp-list {
  li {
    background: linear-gradient(rgba(139, 196, 129, 0.5), rgba(30, 141, 10, 1));
    padding-right: 4%;
  }

  li:hover {
    background-color: rgb(30, 141, 10);
    transform: scale(1.01);
  }
}
