<!DOCTYPE html>
<html>
    <head>
        <title>World Leaders</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>
    </head>
    
    <body>
        <h1>World Leaders Finder</h1>
        <ul>
            <ul><span class="region">North America</span>
                <li><a href="/country/canada">Canada</a></li>
                <li><a href="/country/mexico">Mexico</a></li>
                <li><a href="/country/unitedstates">United States</a></li>
            </ul>
            <ul id="eur"><span class="region">Europe</span>
                <li><a href="/country/france">France</a></li>
                <li><a href="/country/germany">Germany</a></li>
                <li><a href="/country/russia">Russia</a></li>
                <li><a href="/country/unitedkingdom">United Kingdom</a></li>
            </ul>
            <ul id="asia"><span class="region">Asia</span>
                <li><a href="/country/china">China</a></li>
                <li><a href="/country/india">India</a></li>
            </ul>
        </ul>
        
        <div id="footer">
            <p><a href="/data">Raw JSON</a></p>
        </div>
    </body>
</html>