@import url('https://fonts.googleapis.com/css?family=Crimson+Text');
@import '../../style/vars';

.country-info {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 100px;

  ul {
    list-style: none;
    padding: 0;
  }

  h5 {
    font-size: 1.2em;
    text-decoration: underline;
    line-height: 0;
  }

  li, p {
    font-family: 'Crimson Text', serif;
    font-size: 1.2em;
  }
}
