@import 'vars';

html, body {
  background: $background-color;
  height: 100%;
  font-family: 'Ubuntu Mono', monospace;
}

h1, h2, p {
  color: $font-color;
}

input {
  margin-right: 10px;
}

.app > div {
  position: relative;
  min-height: 100vh;
}

.landing {
  padding-bottom: 60px;
  button {
    padding: 5px 10px;
    background-color: $header-background;
    border: 1px solid $header-background;
    color: $header-text;
  }

  button:hover {
    cursor: pointer;
    border: 1px solid $header-border;
  }
}

.rankings {
  width: 60%;
  margin: 0 auto;
  font-weight: bold;
  padding-bottom: 100px;

  .country-ranking {
    width: 18%;
    letter-spacing: normal;
    text-align: left;
    display: inline-block;
    text-align: center;
    border-right: 2px solid black;
  }

  .country-ranking-data {
    width: 18%;
    letter-spacing: 0.05em;
    text-align: center;
    display: inline-block;
    padding-right: 1.5%;
    padding-left: 1.5%;
    border-left: 2px solid black;
  }

  .country-name {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
  }

  ul {
    list-style: none;
    padding: 0;
    font-size: 100%;
    letter-spacing: 0.2em;

    a {
      text-decoration: none;
      color: #000000;
    }
  }
} 