$background-color: rgb(209, 210, 212);
$font-color: #000000;
$error: #DF1212;
$header-background: #0B1F5B;
$header-text: #E7E7E7;
$header-border: #F56C6C;
$basic-background: #F0E8E8;
$culture-border: #2980EA;
$culture-background: #D9E1EC;
$economy-border: #236337;
$economy-background: #D9E6DD;