@import '../../style/vars';

.economy {
  border: 10px ridge $economy-border;
  background-color: $economy-background;

  h3 {
    margin-bottom: 0;
  }

  h4 {
    text-decoration: underline;
  }

  p {
    margin-top: 0;
    a {
      font-weight: initial;
      font-size: initial;
    }
  }

  h3, h4, p {
    margin-left: 5px;
  }

  .export-partners {
    li {
      background: linear-gradient(rgba(128, 177, 135, 0.2), rgba(0, 155, 67, 1));
      padding: 1.5%;
    }

    li:hover {
      background-color: rgb(0, 155, 67);
    }
  }

  .export-goods, .import-goods {
    li {
      background: linear-gradient(rgba(152, 200, 200, 0.2), rgba(0, 140, 140, 1));
      padding: 1%;
    }

    li:hover {
      background-color: rgb(0, 140, 140);
    }
  }

  .import-partners {
    ul {
      margin: 0;
    }
    li {
      background: linear-gradient(rgba(128, 177, 135, 0.2), rgba(0, 155, 67, 1));
      padding: 1.5%;
    }

    li:hover {
      background-color: rgb(0, 155, 67);
    }
  }

  .resources {
    li {
      background: linear-gradient(rgba(233, 204, 157, 0.2), rgba(151, 95, 3, 1));
      padding: 1%;
    }

    li:hover {
      background-color: rgb(151, 95, 3);
    }
  }
}