@import '../../style/vars';

.system-info {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 100px;

  ul {
    list-style: none;
    padding: 0;
  }

  h1 {
    text-align: center;
    background-color: $header-border;
    border-left: 20px solid $header-background;
    border-right: 20px solid $header-background;
    padding: 10px;
    font-size: 2.5em;
  }

  #info-status {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: right;

    p {
      margin: 5px 5px 10px 0;
      font-style: italic;
      font-size: 90%;
    }
  }
  
  #basic-system-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  span {
    font-weight: normal;
  }

  h4 {
    text-decoration: underline;
  }
}
