@import '../../style/vars';

.header {
  display: flex;
  flex-direction: row;
  border-bottom: 5px groove $header-border;
  background-color: $header-background;
  font-family: 'Headland One', serif;

  a {
    outline: none;
    text-decoration: none;
  }

  div {
    flex-grow: 1;

    h1 {
      padding-left: 10px;
      color: $header-text;
      font-style: oblique;
    }
  }

  nav {
    font-family: 'Ubuntu Mono', monospace;
    padding-right: 20px;
    flex-grow: 1;
    font-size: 90%;

    ul {
      text-align: right;
      list-style: none;
      padding: 0;

      .selected {
        font-style: italic;
        font-weight: bold;
        padding-right: 10px;

        span {
          color: $header-border;
        }
      }
  
      li {
        a {
          color: $header-text;
        }
        a:hover {
          color: $header-border;
        }
        margin: 8px;
      }
    }
  }
}